<div class="d-flex justify-content-center">
  <div class="col-4">
    <div *ngIf="prijava">
      <h2 data-cy="prijavaDetailsHeading"><span>Prijava</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Ime prijave</span></dt>
        <dd>
          <span>{{ prijava.prijavaName }}</span>
        </dd>
        <dt><span>Napravljen</span></dt>
        <dd>
          <span>{{ prijava.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ prijava.statusPrijave }}</span>
        </dd>
        <dt><span>Trajanje od</span></dt>
        <dd>
          <span>{{ prijava.trajanjeOd | formatMediumDate }}</span>
        </dd>
        <dt><span>Trajanje do</span></dt>
        <dd>
          <span>{{ prijava.trajanjeDo | formatMediumDate }}</span>
        </dd>

        <dt><span>Kategorija</span></dt>
        <dd>
          <span>{{ prijava.kategorija }}</span>
        </dd>
        <dt><span>Korisnik</span></dt>
        <dd>
          <span>{{ prijava.user?.login }}</span>
        </dd>
        <dt><span>Fakultet</span></dt>
        <dd>
          <div *ngIf="prijava.fakultet">
            <a [routerLink]="['/fakultet', prijava.fakultet.id, 'view']">{{ prijava.fakultet.name }}</a>
          </div>
        </dd>
        <dt><span>Natječaj</span></dt>
        <dd>
          <div *ngIf="prijava.natjecaj">
            <a [routerLink]="['/natjecaj', prijava.natjecaj.id, 'view']">{{ prijava.natjecaj.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <ng-container *ngIf="prijava.statusPrijave !== 'PRIHVACEN' && prijava.statusPrijave !== 'ODBIJEN'">
        <button
          type="button"
          *jhiHasAnyAuthority="'ROLE_USER'; rOLE_PROFESSOR"
          [routerLink]="['/prijava', prijava.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>
        </button>
      </ng-container>

      <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button
          *ngIf="prijava.statusPrijave !== 'PRIHVACEN' && prijava.statusPrijave !== 'ODBIJEN'"
          class="btn btn-primary"
          (click)="
            createNewMobilnost({
              id: prijava.id,
              natjecaj: prijava.natjecaj,
              user: prijava.user,
              trajanjeDo: prijava.trajanjeDo,
              trajanjeOd: prijava.trajanjeOd
            })
          "
        >
          Prihvati prijavu
        </button>
      </div>

      <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button
          *ngIf="prijava.statusPrijave !== 'PRIHVACEN' && prijava.statusPrijave !== 'ODBIJEN'"
          class="btn btn-danger"
          (click)="odbijPrijavu({ id: prijava.id })"
        >
          Odbij Prijavu
        </button>
      </div>
    </div>
  </div>
  <table class="col-4">
    <tr>
      <th>Dokumenti</th>
      <th>Zahtjevi</th>
    </tr>
    <ng-container *ngFor="let file of prijava?.uploadFiles; let fileIndex = index">
      <tr>
        <td>
          <div *ngIf="file.data">
            <a (click)="openFile(file.data, file.fileType)">Otvori</a>
            <ng-container *ngIf="prijava?.statusPrijave !== 'PRIHVACEN' && prijava?.statusPrijave !== 'ODBIJEN'">
              <a
                class="padding-left: 10px"
                *jhiHasAnyAuthority="'ROLE_USER'; rOLE_PROFESSOR"
                (hidden)="onModalHidden()"
                (click)="urediFile({ id: file.id })"
                >Uredi</a
              >
            </ng-container>
            <u> {{ file.fileName }} </u>
          </div>
        </td>
        <td>
          <div *ngFor="let zahtjev of zahtjevs; let zahtjevIndex = index">
            <span *ngIf="fileIndex === zahtjevIndex"
              ><u>{{ zahtjev.name }}</u></span
            >
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
