<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="prijava">
      <h2 data-cy="prijavaDetailsHeading"><span>Prijava</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Ime prijave</span></dt>
        <dd>
          <span>{{ prijava.prijavaName }}</span>
        </dd>
        <dt><span>Napravljen</span></dt>
        <dd>
          <span>{{ prijava.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Prihvaćen</span></dt>
        <dd>
          <span *ngIf="prijava.prihvacen">DA</span>
          <span *ngIf="!prijava.prihvacen">NE</span>
        </dd>
        <dt><span>Trajanje od</span></dt>
        <dd>
          <span>{{ prijava.trajanjeOd | formatMediumDate }}</span>
        </dd>
        <dt><span>Trajanje do</span></dt>
        <dd>
          <span>{{ prijava.trajanjeDo | formatMediumDate }}</span>
        </dd>

        <dt><span>Kategorija</span></dt>
        <dd>
          <span>{{ prijava.kategorija }}</span>
        </dd>
        <dt><span>Korisnik</span></dt>
        <dd>
          <span>{{ prijava.user?.login }}</span>
        </dd>
        <dt><span>Fakultet</span></dt>
        <dd>
          <div *ngIf="prijava.fakultet">
            <a [routerLink]="['/fakultet', prijava.fakultet.id, 'view']">{{ prijava.fakultet.name }}</a>
          </div>
        </dd>
        <dt><span>Natječaj</span></dt>
        <dd>
          <div *ngIf="prijava.natjecaj">
            <a [routerLink]="['/natjecaj', prijava.natjecaj.id, 'view']">{{ prijava.natjecaj.id }}</a>
          </div>
        </dd>

        <dt><span>Zahtjevi za natječaj :</span></dt>
        <dd>
          <div *ngFor="let zahtjev of zahtjevs">
            <span>{{ zahtjev.name }}</span>
          </div>
        </dd>

        <dt><span>Fajlovi :</span></dt>
        <dd>
          <div *ngFor="let uploadFiles of prijava.uploadFiles">
            <div *ngIf="uploadFiles.data">
              <a (click)="openFile(uploadFiles.data, uploadFiles.fileType)">Open</a>
              {{ uploadFiles.fileName }}, {{ uploadFiles.fileType }}, {{ byteSize(uploadFiles.data) }}
            </div>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <button *ngIf="!prijava.prihvacen" type="button" [routerLink]="['/prijava', prijava.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>
      </button>

      <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button
          *ngIf="!prijava.prihvacen"
          class="btn btn-primary"
          (click)="createNewMobilnost({ id: prijava.id, natjecaj: prijava.natjecaj, user: prijava.user })"
        >
          Prihvati prijavu i pokreni mobilnost
        </button>
      </div>
    </div>
  </div>
</div>
