<div class="d-flex justify-content-center">
  <div class="col-6">
    <div *ngIf="prijava">
      <h2 data-cy="prijavaDetailsHeading"><span>Prijava</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Ime prijave</span></dt>
        <dd>
          <span>{{ prijava.prijavaName }}</span>
        </dd>
        <dt><span>Napravljen</span></dt>
        <dd>
          <span>{{ prijava.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ prijava.statusPrijave }}</span>
        </dd>
        <dt><span>Trajanje od</span></dt>
        <dd>
          <span>{{ prijava.trajanjeOd | formatMediumDate }}</span>
        </dd>
        <dt><span>Trajanje do</span></dt>
        <dd>
          <span>{{ prijava.trajanjeDo | formatMediumDate }}</span>
        </dd>

        <dt><span>Kategorija</span></dt>
        <dd>
          <span>{{ prijava.kategorija }}</span>
        </dd>
        <dt><span>Korisnik</span></dt>
        <dd>
          <span>{{ prijava.user?.login }}</span>
        </dd>
        <dt><span>Fakultet</span></dt>
        <dd>
          <div *ngIf="prijava.fakultet">
            <a [routerLink]="['/fakultet', prijava.fakultet.id, 'view']">{{ prijava.fakultet.name }}</a>
          </div>
        </dd>
        <dt><span>Natječaj</span></dt>
        <dd>
          <div *ngIf="prijava.natjecaj">
            <a [routerLink]="['/natjecaj', prijava.natjecaj.id, 'view']">{{ prijava.natjecaj.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <button type="button" [routerLink]="['/prijava', prijava.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>
      </button>

      <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button class="btn btn-primary" (click)="createNewMobilnost({ id: prijava.id, natjecaj: prijava.natjecaj, user: prijava.user })">
          Prihvati prijavu i pokreni mobilnost
        </button>
      </div>

      <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button class="btn btn-danger" (click)="odbijPrijavu({ id: prijava.id })">Odbij Prijavu</button>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col-md-8 jh-entity-details">
      <h2>Dokumenti</h2>
      <div class="row-md-8">
        <dt><span>Dokumenti</span></dt>
        <div *ngFor="let uploadFiles of prijava?.uploadFiles">
          <div *ngIf="uploadFiles.data">
            <a (click)="openFile(uploadFiles.data, uploadFiles.fileType)">Open</a>
            <a (hidden)="onModalHidden()" (click)="urediFile({ id: uploadFiles.id })">Edit</a>
            {{ uploadFiles.fileName }}, {{ uploadFiles.fileType }}, {{ byteSize(uploadFiles.data) }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 jh-entity-details">
      <h2>Zahtjevi</h2>
      <div class="row-md-4">
        <dt><span>Zahtjevi</span></dt>
        <dd>
          <div *ngFor="let zahtjev of zahtjevs">
            <span>{{ zahtjev.name }}</span>
          </div>
        </dd>
      </div>
    </div>
  </div>
</div>
