<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Postavi novu lozinku</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">Ključ resetiranja nije pronađen</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Odaberite novu lozinku</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Vaša lozinka nije uspješno postavljena. Zapamtite da zahtjev za novu lozinku traje do 24 sata.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Vaša lozinka je postavljena..</strong> Molimo vas </span>
        <a class="alert-link" routerLink="/login">Logiraj se</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Nova lozinka</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nova lozinka"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Vaša lozinka je potrebna.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Vaša lozinka mora imati najmanje 4 karaktera.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Vaša lozinka može imati najviše 40 karaktera.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Potvrda nove lozinke</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Potvrdite novu lozinku"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Potvrda nove lozinke je potrebna
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Vaša potvrda nove lozinka ne može biti manja od 4 karaktera
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Vaša potvrda nove lozinke ne može biti veća od 50 karaktera.
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Postavi novu lozinku</button>
        </form>
      </div>
    </div>
  </div>
</div>
