<div class="d-flex">
  <div class="col-4">
    <div *ngIf="mobilnost">
      <h2 data-cy="mobilnostDetailsHeading"><span>Mobilnost</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Mobilnost</span></dt>
        <dd>
          <span>{{ mobilnost.mobilnostName }}</span>
        </dd>
        <dt><span>MobilnostOd</span></dt>
        <dd>
          <span>{{ mobilnost.trajanjeOd | formatMediumDate }}</span>
        </dd>
        <dt><span>MobilnostDo</span></dt>
        <dd>
          <span>{{ mobilnost.trajanjeDo }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ mobilnost.statusMobilnosti }}</span>
        </dd>
        <dt><span>Natječaj</span></dt>
        <dd>
          <div *ngIf="mobilnost.natjecaj">
            <a [routerLink]="['/natjecaj', mobilnost.natjecaj.id, 'view']">{{ mobilnost.natjecaj.name }}</a>
          </div>
        </dd>
        <dt><span>Prijava</span></dt>
        <dd>
          <div *ngIf="mobilnost.prijava">
            <a [routerLink]="['/prijava', mobilnost.prijava.id, 'view']">{{ mobilnost.prijava.prijavaName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <button *ngIf="mobilnost?.statusMobilnosti !== 'ZATVORENA'" class="btn btn-danger" (click)="prihvatiMobilnost({ id: mobilnost!.id })">
        Zatvori Mobilnost
      </button>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <button
        *ngIf="mobilnost?.statusMobilnosti !== 'ZATVORENA' && mobilnost?.statusMobilnosti !== 'NEISPRAVNA'"
        class="btn btn-danger"
        (click)="neispravnaMobilnost({ id: mobilnost!.id })"
      >
        Neispravna Mobilnost
      </button>
    </div>
  </div>
  <div>
    <dt><span>Dokumenti-Korisnik : </span></dt>
    <dd>
      <div *ngFor="let uploadFiles of mobilnost!.uploadFiles">
        <div *ngIf="uploadFiles.data">
          <a (click)="openFile(uploadFiles.data, uploadFiles.fileType)">Otvori</a>
          <a *jhiHasAnyAuthority="'ROLE_USER'; rOLE_PROFESSOR" (hidden)="onModalHidden()" (click)="urediFile({ id: uploadFiles.id })"
            >Uredi</a
          >
          <u>{{ uploadFiles.fileName }}</u>
          <button *jhiHasAnyAuthority="'ROLE_USER'; rOLE_PROFESSOR" (hidden)="onModalHidden()" (click)="deleteFile(uploadFiles.id)">
            Obriši
          </button>
        </div>
      </div>
      <div>
        <button
          *jhiHasAnyAuthority="'ROLE_USER'; rOLE_PROFESSOR"
          type="button"
          (click)="uploadajFajl({ id: mobilnost!.id })"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>UploadajFajlove</span>
        </button>
      </div>
    </dd>
    <dt><span>Dokumenti-Administrator : </span></dt>
    <dd>
      <div *ngFor="let uploadFilesAdmin of mobilnost!.uploadFilesAdmin">
        <div *ngIf="uploadFilesAdmin.data">
          <a (click)="openFile(uploadFilesAdmin.data, uploadFilesAdmin.fileType)">Otvori</a>
          <a *jhiHasAnyAuthority="'ROLE_ADMIN'" (hidden)="onModalHidden()" (click)="urediFileAdmin({ id: uploadFilesAdmin.id })">Uredi</a>
          <u> {{ uploadFilesAdmin.fileName }}</u>
          <button *jhiHasAnyAuthority="'ROLE_ADMIN'" (hidden)="onModalHidden()" (click)="deleteFile(uploadFilesAdmin.id)">Obriši</button>
        </div>
      </div>
      <div>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" (click)="uploadajFajlAdmin({ id: mobilnost!.id })" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uploadaj Dokumente</span>
        </button>
      </div>
    </dd>
  </div>
</div>
