<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8" *ngIf="account$ | async as account">
      <h2>
        Lozinka za korisnika [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Lozinka Promjenjena</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>Error </strong> Lozinku nije moguće promjeniti.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Nova lozinka i potvrda nove lozinke se ne podudaraju.</div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="mb-3">
          <label class="form-label" for="currentPassword">Trenutna Lozinka</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="Trenutna lozinka"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              Stara lozinka je potrebna.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="newPassword">Nova Lozinka</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="Nova lozinka"
            formControlName="newPassword"
            data-cy="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required"> Lozinka je potrebna. </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              Lozinka mora biti veća od 4 slova.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              Lozinka ne može biti veća od 50 slova.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword">Potvrdi novu lozinku</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Potvrdi novu lozinku"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Potvrda nove lozinke je potrebna.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              Lozinka mora biti veća od 4 slova.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              Lozinka ne može biti veća od 50 slova.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Potvrdi promjenu</button>
      </form>
    </div>
  </div>
</div>
