<div class="modal-header">
  <h4 class="modal-title">Uredi Dokument</h4>
  <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
</div>
<div class="alert alert-warning" id="upload-error" *ngIf="this.errorMessage !== ''">
  <span>{{ this.errorMessage }}</span>
</div>
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="editFile()" [formGroup]="fileForm">
      <input formControlName="file" type="file" (change)="onFileSelect($event)" />
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="modal.dismiss()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Odustani</span>
        </button>
        <button type="submit" [disabled]="fileForm.invalid" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Ažuriraj dokument</span>
        </button>
      </div>
    </form>
  </div>
</div>
