<h1>Upload Files</h1>

<form [formGroup]="fileForm">
  <table>
    <tbody>
      <ng-container *ngFor="let zahtjev of zahtjevs; let i = index">
        <tr>
          <td>
            <input
              type="file"
              (change)="onFileSelect($event, i)"
              [ngModel]="selectedFiles[i]"
              [ngModelOptions]="{ standalone: true }"
              name="file-{{ i }}"
            />
          </td>
          <td>{{ zahtjev.name }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <button type="button" (click)="uploadFiles()">Upload files</button>
</form>
