<style>
  td {
    padding-bottom: 10px;
    padding-right: 80px; /* Add padding-bottom to create spacing between rows */
  }
  .row-spacing {
    margin-bottom: 100px; /* Add margin-bottom to create space between rows */
  }
</style>

<form [formGroup]="fileForm">
  <h1 class="d-flex justify-content-center">Unesi Dokumente</h1>
  <jhi-alert-error></jhi-alert-error>
  <div class="alert alert-warning" id="upload-error" *ngIf="this.errorMessage !== ''">
    <span>{{ this.errorMessage }}</span>
  </div>
  <table class="d-flex justify-content-center">
    <tbody class="row-spacing">
      <tr>
        <th>Dokumenti</th>
        <th>Zahtjevi</th>
      </tr>
      <ng-container *ngFor="let zahtjev of zahtjevs; let i = index">
        <tr class="row-spacing">
          <td>
            <u>
              <input
                type="file"
                (change)="onFileSelect($event, i)"
                [ngModel]="selectedFiles[i]"
                [ngModelOptions]="{ standalone: true }"
                name="file-{{ i }}"
            /></u>
          </td>
          <td class="margin-left:50px">
            <u>{{ zahtjev.name }}</u>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div style="text-align: center">
    <button type="button" (click)="uploadFiles()">Unesi Dokumente</button>
  </div>
</form>
