<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Dobrodošli na</span> ERASMUS</h1>

    <p class="lead">Glavna stranica</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Ulogiran si kao "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Ulogiraj se ovdje</span>&nbsp;
        <a class="alert-link" routerLink="/login">Logiranje</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Nemaš račun , registriraj se</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Registracija</a>
      </div>
    </div>

    <p>Glavna stranica Međimurskog veleučilišta u Čakovcu</p>

    <ul>
      <li><a href="https://www.mev.hr/" target="_blank" rel="noopener noreferrer">MEV</a></li>
    </ul>
  </div>
</div>
