<div class="d-flex justify-content-center">
  <div class="col-md-4">
    <div *ngIf="natjecaj">
      <h2 data-cy="natjecajDetailsHeading"><span>Natjecaj</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="alert alert-warning" *ngIf="this.errorMessage !== ''">
        <span>{{ this.errorMessage }}</span>
      </div>

      <dl class="row-md jh-entity-details">
        <dt><span>Ime</span></dt>
        <dd>
          <span>{{ natjecaj.name }}</span>
        </dd>
        <dt><span>Opis</span></dt>
        <dd>
          <span>{{ natjecaj.description }}</span>
        </dd>
        <dt><span>Napravljen</span></dt>
        <dd>
          <span>{{ natjecaj.createDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Datum od</span></dt>
        <dd>
          <span>{{ natjecaj.datumOd | formatMediumDate }}</span>
        </dd>
        <dt><span>Datum do</span></dt>
        <dd>
          <span>{{ natjecaj.datumDo | formatMediumDate }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ natjecaj.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" [routerLink]="['/natjecaj', natjecaj.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_USER'; rOLE_PROFESSOR" (click)="createNewPrijava({ id: natjecaj.id, name: natjecaj.name })">
        Prijavi se na natječaj
      </button>
    </div>
  </div>
  <div class="col-md-3 jh-entity-details">
    <h2 class="d-flex justify-content-center">Zahtjevi</h2>
    <hr />
    <div class="row-md jh-entity-details" *ngFor="let zahtjev of natjecaj?.zahtjevs">
      <dt><span>Zahtjev:</span></dt>
      <dd style="display: flex; justify-content: space-between">
        <button
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          (hidden)="onModalHidden()"
          (click)="urediZahtjev({ id: natjecaj!.id }, { id: zahtjev.id, name: zahtjev.name })"
        >
          Uredi
        </button>
        <span>{{ zahtjev.name }}</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="deleteZahtjev(zahtjev.id)">Obriši</button>
      </dd>
    </div>
    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" (hidden)="onModalHidden()" (click)="createNewZahtjev({ id: natjecaj!.id })">
      Dodaj Zahtjev
    </button>
  </div>
</div>
